<div class="bg-white pb-8">
  <div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div *ngIf="quizData">
        <!--
        <pre>{{ quizData | json }}</pre>
        -->
        <div class="quiz-header font-weight-bold">
          <p class="text-black thicker" style="font-size: 20px;">{{ quizName }}</p>
          <div class="quiz-info">
            <span class="elapsed-time">ElapsedTime: {{ time | number:'1.0-0' }}s</span>
            <span class="question-progress">Question {{ currentQuestionIndex + 1 }} of {{ quizData.results.length }}</span>
          </div>
        </div>
        <div *ngIf="quizData.results.length > 0" class="mt-6">
          <div *ngIf="currentQuestionIndex < quizData.results.length">
            <h2 style="font-size: 16px;">Question {{ currentQuestionIndex + 1 }}: {{ quizData.results[currentQuestionIndex].question }}</h2>
            <div *ngFor="let answer of quizData.results[currentQuestionIndex].incorrect_answers.concat(quizData.results[currentQuestionIndex].correct_answer)">
              <button class="answerchoices"
                [ngClass]="{'selected': selectedAnswer === answer}" 
                (click)="selectAnswer(answer)">
                {{ answer }}
              </button>
            </div>
            <button class="btn btn-primary d-none d-md-flex ml-lg-auto mt-4"
              [disabled]="!selectedAnswer" 
              (click)="nextQuestion()">
              {{ currentQuestionIndex < quizData.results.length - 1 ? 'Next Question' : 'Submit Quiz' }}
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!quizData">
        <p>No quiz data available.</p>
      </div>
    </div>
  </div>
</div>
