<div class="pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div *ngIf="isUserLoggedIn; else signInPrompt">
        <!-- Quiz History -->
        <div class="row">
          <div class="col-12">
            <div class="carousel-container">
              <button class="carousel-control-prev" (click)="scrollCarousel(-1)">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </button>
              <div class="carousel">
                <div *ngFor="let quiz of quizHistory" class="card card-stats mb-4 mb-xl-0" (click)="viewQuizResult(quiz)">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">{{ quiz.quizName }}</h5>
                        <span class="h2 font-weight-bold mb-0">Score: {{ quiz.score }}</span>
                    
                        <p class="mt-3 mb-0 text-muted text-sm">
                          <span class="text-nowrap">Time Taken: {{ quiz.completedTime }} seconds</span>
                        </p>
                        <p class="mt-3 mb-0 text-muted text-sm">
                          <span class="text-nowrap">Questions: {{ quiz.totalQuestions }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-next" (click)="scrollCarousel(1)">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>

        <!-- Top 5 Scoring Quizzes Table -->
      <div class="tableMain">
        <div class="card-header border-0">
          <h3 class="mb-0">Top 5 Scoring Quizzes</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush w-70">
            <thead class="thead-light">
              <tr>
                <th scope="col">Quiz Name</th>
                <th scope="col">Score</th>
                <th scope="col">Time Taken</th>
                <th scope="col">Questions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quiz of topQuizzes">
                <td>{{ quiz.quizName }}</td>
                <td>{{ quiz.score }}</td>
                <td>{{ quiz.completedTime }} seconds</td>
                <td>{{ quiz.totalQuestions }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
      <ng-template #signInPrompt>
        <div class="text-center py-5">
          <a routerLink="/login" class="text-blue font-weight-bold">Sign in</a> /
          <a routerLink="/register" class="text-blue font-weight-bold">Register</a>
          <h3 style="display: inline;"> to use this feature</h3>
        </div>
      </ng-template>
    </div>
  </div>
</div>
