<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex ml-lg-auto">
      <li class="nav-item">
        <a class="nav-link pr-0">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle" *ngIf="isUserLoggedIn">
              <img
                alt="Image placeholder"
                [src]="profileImage"
              />
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span *ngIf="isUserLoggedIn" class="mb-0 text-sm font-weight-bold" style="color:rgb(61, 61, 61)">{{ userName }}</span>
              <div *ngIf="!isUserLoggedIn">
                <button class="btn btn-primary btn-sm" routerLink="/signin">Sign In</button>
                <button class="btn btn-secondary btn-sm" routerLink="/register">Register</button>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
