<div class="bg-white pb-8">
  <div class="pb-8 pt-6">
    <div class = "container-fluid">
      <p class="text-black thicker">Create New Quiz</p>

      <form #quizForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <!--
        {{quizForm.value | json}}
        <hr />
        {{createQuizForm | json}}
        -->
        <p *ngFor="let msg of categories | async">{{msg}}</p> 

        <div class = "quizName mb-3">
          <label>Name of quiz</label>
          <input type="text" required #name="ngModel" 
          [class.is-invalid]="name.invalid && name.touched" 
          class="form-control" name="quizName" [(ngModel)]="createQuizForm.quizName">
          <small class="text-danger" [class.d-none]="name.valid || name.untouched">Quiz name is required</small>
        </div>

        <div class="form-group">
          <label>Number of questions</label>
          <input 
            type="number" 
            class="form-control mb-2" 
            name="numOfQuestions" 
            [(ngModel)]="createQuizForm.numOfQuestions" 
            min="1" 
            max="50" 
            required
            #numOfQuestions="ngModel" 
          >
          <div *ngIf="numOfQuestions.invalid && (numOfQuestions.dirty || numOfQuestions.touched)" class="text-danger">
            <div *ngIf="numOfQuestions.errors?.required">Number of questions is required.</div>
            <div *ngIf="numOfQuestions.errors?.min || numOfQuestions.errors?.max">Number must be between 1 and 50.</div>
          </div>
        </div>
        

        <div class = "form-group">
          <label>Select category</label>
          <select class="custom-select" name="Category" [(ngModel)]="createQuizForm.category">
            <option selected>Any Category</option>
            <option *ngFor="let category of categories.trivia_categories" [ngValue]="category.id">{{ category.name }}</option>
          </select>
                
        </div>

        <div class = "form-group">
          <label>Select difficulty</label>
          <select class = "custom-select" name="Difficulty" [(ngModel)]="createQuizForm.difficulty">
            <option selected>Any Difficulty</option>
            <option *ngFor="let difficulty of difficulties" [ngValue]="difficulty.id">{{difficulty.name}}</option>
          </select>
        </div>

        <div class = "form-group">
          <label>Select type</label>
          <select class = "custom-select" name="Type" [(ngModel)]="createQuizForm.type">
            <option selected>Any Type</option>
            <option *ngFor="let type of types" [ngValue]="type.id">{{type.name}}</option>
          </select>
        </div>

        <button [disabled]="quizForm.form.invalid" class = "btn btn-primary d-none d-md-flex ml-lg-auto" type="submit">Submit form</button>

      </form>
    </div>

  </div>
</div>